<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>420453837526-h09eg3r6qtv893qkdv6v83c9ltdcbgh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420453837526-h09eg3r6qtv893qkdv6v83c9ltdcbgh0</string>
	<key>API_KEY</key>
	<string>AIzaSyAQBBnKIoNQTFqVz77gElV9VQ_A4zXGKAs</string>
	<key>GCM_SENDER_ID</key>
	<string>420453837526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.thrilliantnigeriamaxfmng</string>
	<key>PROJECT_ID</key>
	<string>max-fm-55453</string>
	<key>STORAGE_BUCKET</key>
	<string>max-fm-55453.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420453837526:ios:841a3927a96ea597</string>
	<key>DATABASE_URL</key>
	<string>https://max-fm-55453.firebaseio.com</string>
</dict>
</plist>