page-settings {
	.region-toggle{
		.toggle{
			margin-top: 10px;
		}
		.label{
			font-size: 1.4em;
		}
	}
	.links{
		margin-bottom: 100px;
	}

	.links .item{
		background-color: whitesmoke;
		margin-top: 10px;
	}
}
