page-news {
	* 
	{
		font-size: 20px;
	}
	.segment-md .segment-button
	{
		font-size: 17px;
	}
	.content{
		height: calc(100% - 70px);
	}
	.max-article-title
	{
		font-size: 30px;
	}
}

page-showModel{
	ion-fab[bottom]
	{
		bottom:15%;
	}
	* 
	{
		font-size: 20px;
	}
	.max-article-title
	{
		font-size: 30px;
	}
	iframe
	{
		width: 100% !important;
	}
	video
	{
		width: 100% !important;
	}
	.scroll-content{
		padding-bottom: ($toolbar-md-height+70px) !important;
	}
	
	.fab {
		background-color: rgba(158, 158, 158, .8);
	}



	a {
		pointer-events: none;
		cursor: default;
	}
	
	.scroll-content {
		margin-top: 0 !important;
	}

	.post-image-display{

		.post-image{
			img {
				max-width: 100%;
				border: 0;
				width: 100%;
				height: 40%;
			}
		}
	}

	.date{
		h6{
			color: #999;
		}

		ion-icon {
			display: inline-block;
			font-size: 14px;
			margin-right: 3px;
			color: $icon-color;
		}
	}

	.heading{
		h2{
			font-size: 23px;
			white-space: normal;
			font-weight: 600;
			text-align: left;
			text-transform: uppercase;
		}
	}

	.post-detail{

		margin-bottom: 30px;
		p{

			margin: 0 16px;

			img {
				width: 100%;
				height: auto;
				margin: 16px 0;
			}
		}

		h1{
			font-size: 19px;
		}
		h2{
			font-size: 18px;
		}
		h3{
			font-size: 17px;
		}
		h4{
			font-size: 16px;
		}
		h5{
			font-size: 15px;
		}
		h6{
			font-size: 14px;
		}


		h1, h2, h3, h4, h5, h6{
			text-transform: uppercase;
			font-weight: 600;
			margin-left: 16px;
			margin-right: 16px;
		}

		video {
			width: 100%;
			height: -webkit-fill-available;
			object-fit: fill;
			height: auto;
			margin: 16px 0;
		}
		audio{
			width: 100%;
			margin: 16px 0;
		}

		.videoContainer{
			width:100%;
			height:auto;
		}

		.ins_instory_dv_caption{
			color: #999;
			margin: 0;
		}

		.ins_instory_dv{
			margin: 16px;
		}

	}



	.category{
		margin-top: -55px;
		margin-left: 16px;
		z-index: 1;
		height: 30px;
		background: rgba(72, 138, 255, 0.72);
		float: left;
		margin-right: 10%;
		color: #fff;
		border-radius: 0;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 600;
		
		h2{
			margin: 0;
			font-size: 13px;
			font-weight: 600;
		}
	}

	.show-recent{

		border-top: 1px solid #ddd;

		.related-header{
			text-transform: uppercase;
			font-weight: 600;
		}

		.row.unlimited-items {
			flex-wrap: wrap;
			padding: 15px 0 0 15px;
		}

		.row.unlimited-items .col{
			flex: none;
			width: 50%;
			padding: 0 15px 15px 0;
		}

		.card {
			margin:0px;
			width:100%;
			box-shadow: none;
			height: 100%;
			box-shadow: 0 1px 10px 1px #ececec;

			img{
				max-height: 120px;
				height: 120px;
			}
		}

		.card-content{
			padding: 0;
		}

		.details{
			padding: 10px;

			h2{
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 600;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				overflow: hidden;
			}

			ion-icon {
				display: inline-block;
				font-size: 14px;
				margin-right: 3px;
			}

			h3{
				font-size: 10px;
				color: #999;
				text-transform: uppercase;
			}

			p, h1, h2, h3, h4, h5, h6{
				margin: 0 0 2px;
				font-size: 13px;
				color: #666;
				line-height: 1.5;

				img{
					display: none;
				}
			}

			.info{
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				overflow: hidden;
				color: #999;
				height: 75px;

				img{
					display: none;
				}
			}

			hr {
				display: none;
			}
		}
	}

	.share {
		color: #fff;
		background-color: rgba(0, 0, 0, 0.37);
	}  

	.reviews{

		border-top: 1px solid #ddd;

		.comment-header{
			font-weight: 600;
			text-transform: uppercase;
		}

		.review-content{
			padding-left: 6px;

			h3{
				font-size: 12px;
				text-transform: capitalize;
			}

			img {
				border-radius: 50%;
				overflow: hidden;
				width: 50px;
				height: 50px;
			}
		}

		p{
			font-size: 13px;
			margin: 0 12px 12px 26px;
			text-indent: 3.5em;
		}

		.item-background{
			background-color:#f3f3f3;
			border: 1px solid #e8e8e8;
		}

		ion-icon {
			display: inline-block;
			font-size: 14px;
			margin-right: 3px;
			color: $icon-color;
		}


	}

	.comment-form{
		margin: 10px 16px;
		
		.reply-header{
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 600;
		}
		
		.comment-form-content{
			margin-bottom: 10px;

			.item{
				border: 1px solid #e8e8e8;
				padding-left: 8px;
				margin-bottom: 5px;
			}

			.text-input{
				font-size: 13px;
			}
		}

		.button {
			margin: 0;
			padding: 0;
			height: 3em;
			border-radius: 3px;
			font-size: 13px;
		}
	}


	.item.item-block .item-inner {
		padding-right: 8px;
		border-bottom: 0;
	}

	.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
		border-bottom-color: #f2f2f2;
		box-shadow: none;
	}

	.item-md.item-input.input-has-focus .item-inner{
		box-shadow: none;
	}

	.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
		border-bottom-color: transparent;
		box-shadow: none;
	}
	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
		border-bottom-color: #f2f2f2;
		box-shadow: none;
	}
	.list-md .item-input.input-has-focus:last-child{
		box-shadow: none;
	}
	.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
		border-bottom-color: #f2f2f2;
		box-shadow: none;
	}

}



.post-header{
	.toolbar-background-md, .toolbar-background-ios {
		border-color: transparent;
		background: transparent;
	}

	.bar-button-default {
		color: #fff;
		background-color: rgba(0, 0, 0, 0.36);
		border-radius: 50%;
		width: 33px;
		height: 43px;
	}

	.bar-button-default-ios {
		height: inherit;
	}

	.back-button-text-ios {
		letter-spacing: 0;
		font-size: 0.1px;
    //width: 36px;
}



}